body {
    font-family: Arial, sans-serif;
    background-color: powderblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    width: 95%; /* Adjust width as needed */
    max-width: 1200px; /* Adjust max-width as needed */
    overflow-y: auto; /* Enable vertical scrollbar */
    height: calc(100vh - 40px); /* Set a fixed height for scrolling */
    padding: 10px; /* Small padding all around */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px; /* Adjust max-width as needed */
    margin: 10px; /* Small margin all around */

    

}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="file"] {
    padding: 3px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    background-color: #e8f0fe;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button[type="button"] {
    background-color: #008CBA;
}

button[type="button"]:hover {
    background-color: #007bb5;
}

#downloadData {
    background-color: #f44336;
}

#downloadData:hover {
    background-color: #e31b0c;
}

#content {
    margin-top: 20px;
}

.content-section {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

@media (max-width: 600px) {
    .form-wrapper {
        height: auto; /* Auto height on smaller screens */
        max-height: none; /* No max-height on smaller screens */
    }

    .form-container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"],
    input[type="date"],
    input[type="file"],
    textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
