
.SiteButton {
 
float: right;
	box-shadow: 9px 14px 16px -10px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:17px;
	border:2px solid #29668f;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 13px;
	text-decoration:none;
	text-shadow:2px 4px 30px #3d768a;
}
.SiteButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.SiteButton:active {
	position:relative;
	top:1px;
  /* float: right; */

}

        





.collapsible {
  scroll-behavior: smooth
}

.text {
  /* text-align: justify; */
  text-justify: inter-word;

}

.image {
  max-width: 100%;
  width: 500px;
  object-fit: cover;  
  padding: auto;
  /* margin-left: 60px; */
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.active,
.collapsible:hover {
  background-color: rgb(189, 122, 122);
}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  background: #000000;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif;

  padding: 20px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  background-color: rgb(59, 158, 125);
  text-align: center;
  background:#10ad92;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */


/* Add a card effect for articles */
.card {
  background-color:#b1b1b1;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn {
    width: 100%;
    padding: 0;
  }
}

/*  */



/* body */
  /* { */
      /* background: linear-gradient(45deg, */
        /* #6969ff, */
        /* #2a00e4,
        #1fedb3d8,
        #f150a5,
        #f150a5,
        #692fdc,
        #692fdc, */
        /* #95806d */
      
        /* ); */
    /* display: initial-block; */
    /* animation: hue-rotate 2s linear infinite alternate;
  } */

/* @keyframes hue-rotate {
  to {
    filter: hue-rotate(100deg);
  } */
/* } */